
@{
    ViewBag.Title = "createCourse";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vertical Form</h5>

                <!-- Vertical Form -->
                <form class="row g-3" method="post" action="@Url.Action("createCourse", "admin")">
                    @Html.AntiForgeryToken()
                    <div class="col-12">
                        <label for="inputNanme4" class="form-label">عنوان دوره</label>
                        <input type="text" class="form-control" name="ct">
                    </div>
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">توضیحات دوره</label>
                        <input type="text" class="form-control" name="dis">
                    </div>



                    <button type="submit" class="btn btn-primary">ایجاد</button>

                    <p style="text-align:center">@ViewBag.m</p>
                </form>
            </div>
            <!-- Vertical Form -->

        </div>
    </div>



</div>
@section s{
    <script>
        var status = "@ViewBag.s";
        //alert(status);

    </script>
    }


