
@{
    ViewBag.Title = "teachers";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
<!-- Modal Dialog Scrollable -->

<div class="modal fade" id="modalDialogScrollable" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ثبت استاد جدید</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Vertical Form</h5>

                                <!-- Vertical Form -->
                                <form id="nt" class="row g-3" method="post" enctype="multipart/form-data">
                                    <div>
                                        <img width="200" height="200" src="~/adminAssets/img/imgsrc/mdef.png" />
                                    </div>
                                 

                                    <div class="col-12">
                                        <label for="imgtitle" class="form-label">عنوان عکس</label>
                                        <input type="text" class="form-control" name="imgtitle" value="">
                                    </div>
                                    <div class="col-12">
                                        <label for="imgalt" class="form-label">نام جایگزین عکس</label>
                                        <input type="text" class="form-control" name="imgalt" value="">
                                    </div>
                                    <div class="col-12">
                                        <label for="Name" class="form-label">نام</label>
                                        <input type="text" class="form-control" name="Name" value="">
                                    </div>
                                    <div class="col-12">
                                        <label for="Family" class="form-label">نام خانوادگی</label>
                                        <input type="text" class="form-control" name="Family" value="">
                                    </div>
                                    <div class="col-12">
                                        <label for="chf" class="form-label">انتخاب عکس</label>
                                        <input type="file" class="form-control" name="chf">
                                    </div>



                                 
                                </form>
                            </div>
                            <!-- Vertical Form -->

                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button id="createMentor" type="button" class="btn btn-primary">ایجاد</button>
            </div>
        </div>
    </div>
</div><!-- End Modal Dialog Scrollable-->

<h2>اساتید</h2>
<div class="row">
    <div class="card">
        <div class="card-body">
          

            <!-- Table with stripped rows -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">شماره</th>
                        <th scope="col">نام</th>
                        <th scope="col">نام خانوادگی</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tchr in ViewBag.teachers)
                    {
                        <tr>
                            <td>
                                @tchr.pkID
                            </td>
                            <td>
                                @tchr.Name
                            </td>
                            <td>
                                @tchr.Family
                            </td>
                            <td>
                                <a class="btn btn-success" href="editTeacher/@tchr.pkID">ویرایش</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable" style="margin:7px">
                    ثبت استاد جدید
                </button>
            </div>
            <!-- End Table with stripped rows -->

        </div>
    </div>
</div>
@section s{
    <script>
        $(document).ready(function () {
            $("#createMentor").click(function () {
                var img = $("#nt").find('div').children('img');
                var formdata = new FormData($("#nt")[0]);
               

                formdata.append("__RequestVerificationToken", token);
                sl();
                $.ajax({
                    url: "/admin/addTeacher", // Adjust with your Action and Controller names
                    type: 'POST',
                    data: formdata,
                    contentType: false, // Prevent jQuery from setting content-type header
                    processData: false, // Prevent jQuery from processing the data
                })
                    .done(function (res) {
                        if (res.status) {

                            swal("عملیات موفق", res.m, "success");
                            $(img).attr("src", `/adminAssets/img/imgsrc/${res.reff}`)
                            window.location.reload();
                        }
                        else {
                            swal("عملیات ناموفق", res.m, "error");
                        }
                    })
                    .fail(function () {

                        fail();
                    })
                    .always(function () {
                        fl();
                    });
            })

        });



    </script>
    
    
    }